bbc.username=
bbc.password=
bbc.db.jdbc=jdbc:hsqldb:hsql://localhost:8887/uPortal
bbc.db.username=
bbc.db.password=
hibernate.dialect=org.hibernate.dialect.HSQLDialect
bbc.db.driverClassName=org.hsqldb.jdbcDriver
mail.host=localhost
mail.from=me@people.com