/**errorerrorerrorerror
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* New success style */
.uportal-channel-success, 
p.uportal-channel-success {padding:1em 1em 1em 3em; border:2px solid; color:#004800; background:#D1F0E0 url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/accept.png) 1em 1em no-repeat;}

.blackboardVCRoot .error
{
    color: #ff0000;
}

.blackboardVCRoot.config-telephony table.telephony .error {
    float: right;
}

.blackboardVCRoot div.ajaxerror {
    display: none;
    color: #ff0000;
}

.blackboardVCRoot .help-link
{
	float: right;
	padding-bottom : 1em;
}

.blackboardVCRoot .ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blackboardVCRoot .dataTables_length label {
	float : left;
}

.blackboardVCRoot .dataTables_filter {
	float : right;
}

.blackboardVCRoot .paginate_enabled_next {
	padding-left: 2em;
}

.blackboardVCRoot .paginate_enabled_next a:HOVER {
	cursor: pointer;
}

.blackboardVCRoot .paginate_enabled_previous a:HOVER {
	cursor: pointer;
}

.blackboardVCRoot .paginate_disabled_next {
	padding-left: 2em;
	color: gray!important;
}

.blackboardVCRoot .paginate_disabled_previous {
	color: gray!important;
}

.blackboardVCRoot table.participantList {
	background-color: #efe8dc !important;
	width : 80%;
}

.blackboardVCRoot table .odd {
	background-color:#fff;
}

.blackboardVCRoot table .even {
	background-color:#eee;
}

.blackboardVCRoot table .sorting {
	background: url("../images/sort_both.png") no-repeat center right;
}

.blackboardVCRoot table .sorting_asc {
	background: url("../images/sort_asc.png") no-repeat center right;
}

.blackboardVCRoot table .sorting_desc {
	background: url("../images/sort_desc.png") no-repeat center right;
}

.blackboardVCRoot .dt {
	cursor: pointer;
}

.blackboardVCRoot #recordingList {
	text-align: center;
}

.blackboardVCRoot .dataTables_paginate {
	float:right;
}

.blackboardVCRoot .dataTables_paginate a {
	padding-left : 1em;
	padding-right : 1em;
}

.blackboardVCRoot .viewSession {
	width: 100%;
}

.blackboardVCRoot .label {
	width: 20%;
	vertical-align: top;
	text-align: left;
}

.blackboardVCRoot .dataTables_wrapper {
	overflow: hidden;
}

.blackboardVCRoot .ui-autocomplete-loading {
	background: #fff url(../images/ajax-loader.gif) no-repeat 95%;
}

.blackboardVCRoot .ui-state-active {
	background: none #fff;
	margin-bottom : 0;
	padding-bottom : 1px;
}

.blackboardVCRoot  .destroy {
        cursor: pointer;
        width: 15px;
        height: 15px;
        background: url(../images/destroy.png) no-repeat;
        display: inline-block;
    }

.blackboardVCRoot  .destroy:hover {
        background-position: 0 -15px;
    }

.bbc-ui-tooltip, .bbcArrow:after {
    background: white;
    border: 2px solid grey;
  }
  .bbc-ui-tooltip {
    padding: 1em 2em;
    color: black;
    border-radius: 2em;
    font: bold;
    box-shadow: 0 0 .5em white;
    width: 20em;
  }
  .bbcArrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .bbcArrow.top {
    top: -16px;
    bottom: auto;
  }
  .bbcArrow.left {
    left: 20%;
  }
  .bbcArrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .bbcArrow.top:after {
    bottom: -20px;
    top: auto;
  }
  
  .ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}


  
