bbc.username=
bbc.password=
bbc.callbackURL=https://my-test.wisc.edu/Blackboard/
bbc.db.jdbc=jdbc:hsqldb:hsql://localhost:8887/uPortal
bbc.db.username=sa
bbc.db.password=
hibernate.dialect=org.hibernate.dialect.HSQLDialect
bbc.db.driverClassName=org.hsqldb.jdbcDriver
mail.host=localhost
mail.from=me@people.com
mail.port=25
mail.extParticipantMailMessage.subject=Collaborate Session Invite
mail.moderatorMailMessage.subject=Collaborate Session Invite
mail.sessionDeletionMessage.subject=Collaborate Session Cancellation
mail.intParticipantMailMessage.subject=Collaborate Session Invite
sas.defaultUri=https://sas-int.elluminate.com/site/external/adapter/default/v3/webservice.event
