## Web Service Configuration
bbc.username=WISCONSIN-ADMIN
bbc.password=Wared4aM
bbc.callbackURL=https://my-qa.wisc.edu/BlackboardVCPortlet/callback/recCallback/
sas.defaultUri=https://sas-int.elluminate.com/site/external/adapter/default/v3/webservice.wsdl

## Local Database Configuration
bbc.db.driverClassName=org.hsqldb.jdbcDriver
bbc.db.jdbc=jdbc:hsqldb:hsql://localhost:8887/uPortal
bbc.db.username=sa
bbc.db.password=

## Email Notification Configuration
mail.host=localhost
mail.from=me@people.com
mail.port=25
mail.extParticipantMailMessage.subject=Collaborate Session Invite
mail.moderatorMailMessage.subject=Collaborate Session Invite
mail.sessionDeletionMessage.subject=Collaborate Session Cancellation
mail.intParticipantMailMessage.subject=Collaborate Session Invite

## User Attribute Configuration
emailAttributeName=mail
displayNameAttributeName=displayName
uniqueIdAttributeName=wiscedupvi,eppn,spvi