<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
</contextListener>

<appender name="C" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>[%d{ISO8601}] %-5level [%thread] %logger - %msg%n</pattern>
    </encoder>
</appender>
<appender name="N" class="ch.qos.logback.core.helpers.NOPAppender" />

<root level="INFO">
    <appender-ref ref="C"/>
</root>
<!--
<logger name="org.hibernate.type" additivity="false" level="TRACE">
  <appender-ref ref="C"/>
</logger>
 -->
</configuration>