${displayName}:

The following Blackboard Collaborate web conference session has been cancelled:
 
Name:   ${sessionName}
Type:   ${sessionType}
Starts: ${sessionStartTime}
Ends:   ${sessionEndTime}

${creatorName} 

Email: ${creatorEmail}
