${displayName}:

The following Blackboard Collaborate web conference session has been cancelled:
 
Name:   ${sessionName}
Type:   ${sessionType}
Starts: ${sessionStartTime}
Ends:   ${sessionEndTime}

${creatorName} 

Email: ${creatorEmail}

This automated message comes from an email address that is checked periodically. If you need support for Blackboard Collaborate, please see the Knowledgebase at https://kb.wisc.edu/myuwsystem/search.php?q=&cat=2485